# This packages are requires only for development and release management.
Sphinx
bumpversion
check-manifest
pip-tools
twine
watchdog
wheel
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
