# This packages are requires only for development and release management.
Sphinx
bumpversion
check-manifest
pip-tools
twine
watchdog
wheel
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
