# This packages are requires only for development and release management.
Sphinx
bumpversion
check-manifest
pip-tools
twine
watchdog
wheel
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
